<header>
    <nav>
      
        <ul>
            <li><a routerLink="/index" routerLinkActive="active">Inicio</a></li>
            <li><a routerLink="/RegistrarUsuario" routerLinkActive="active">Registrar Usuario</a></li>
            <li><a routerLink="/listarProyecto" routerLinkActive="active">Listar Proyectos</a></li>
            <li><a routerLink="/listarTarea" routerLinkActive="active">Listar Tareas</a></li>
            <li><button (click)="logout()">Logout</button></li>
        </ul>
    </nav>
</header>
<main>
    <!-- Aquí se renderizarán los componentes -->
    <router-outlet></router-outlet>
</main>