<div>
    <h1>Lista de Alumnos</h1>
    <button>crear Proyecto</button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Color</th>
                <th>Usuarios</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of proyectos">
                <td>{{ p.id }}</td>
                <td>{{ p.nombre }}</td>
                <td>{{p.color}}</td>
                <td>
                    <ul>
                        <li *ngFor="let u of p.usuarios">{{ u.nombre }}</li>
                    </ul>
                </td>
                <td>
                    <button>Editar Proyecto</button>
                    <button>Delete Proyecto</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <router-outlet></router-outlet>-->