<div>
    <h1>Lista de Alumnos</h1>
    <button (click)="crearProyecto()">crear Proyecto</button>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>usuarios</th>
                <th>tareas</th>
                <th>colorId</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of proyectoDTO">
                <td>{{ p.id }}</td>
                <td>{{ p.nombre }}</td>
                
                
                <td>
                    <ul>
                        <li *ngFor="let t of p.tareas">{{ t.nombre }}</li>
                    </ul>
                </td>
               
                
                 <td>
                    <ul>
                        <li *ngFor="let u of p.usuarios" >{{ u.username }}</li>
                    </ul>
                </td>
               
                <td>
                    <span [ngStyle]="{'color': colorMap[p.colorId]}">
                      {{ ColorEnum[p.colorId] }}
                    </span>
                  </td>
                
            
                <td>
                    <button >Agregar Tarea</button>
                    <button >eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<!-- <router-outlet></router-outlet>-->
